<div id='recipe-{{this.id}}' class='recipe-card flex flex-col h-64'>
  <div class='recipe-card-image relative w-full'>
    <img class='w-full h-52 object-cover' src='{{this.image}}' />
    <a href='/dashboard/edit-recipe/{{this.id}}'>
      <img src='../images/svg/edit_pencil.svg' class='h-8 w-auto absolute top-2 right-16 filter-blue' />
    </a>
    <div class="delete-recipe">
      <img src='../images/svg/trash_bin.svg' class='h-8 w-auto absolute top-2 right-5 filter-blue' />
    </div>
  </div>
  <a href="/recipe/{{this.id}}" class='recipe-card-info w-11/12 p-3 bg-blue-300 -mt-20 mx-auto'>
    <h2 class='font-bold'>{{this.title}}</h2>
    <p>{{this.description}}</p>
  </a>
</div>

<script src="/javascript/delete-recipe.js"></script>