<section id="page-container" class="mt-8 px-5 flex flex-wrap w-11/12 mx-auto sm:max-w-lg">
  <section class='mt-10 p-5 flex flex-wrap mx-auto sm:max-w-lg border-2 border-blue-700 shadow-xl rounded-lg'>
    <div id='recipe-header' class='mb-5'>
      <h1 class='font-bold text-3xl text-blue-700'>{{recipe.title}}</h1>
      <p>{{recipe.description}}</p>
    </div>
    <div class='mx-auto mt-5 flex flex-wrap mb-4'>
      <!-- Basic info -->
      <div class='flex flex-wrap justify-center'>
        <div class='recipe-image'>
          <img class='w-full h-52 object-cover'
            src='https://placehold.jp/16/f4f4f4/3C82F6/300x150.png?text=Julias%20Children' />
        </div>
        <div class='border-2 border-blue-700 p-3 w-fit mt-5 h-fit'>
          <p><b class='text-blue-700'>Prep: {{prepTime}} </b> </p>
          <p><b class='text-blue-700'>Cook: {{cookTime}} </b></p>
        </div>
      </div>

      <hr class='border-1 w-full border-slate-500 mx-auto my-10' />

      <!-- List Ingredients -->
      <div class='flex flex-wrap'>
        <h2 class='font-bold text-xl w-full text-blue-700'>Ingredients</h2>

        <div id='ingredients-list'>

          {{#each ingredients as |ingredient|}}
          <div class='flex items-center mt-4'>
            <input type='checkbox' class='h-8 w-8 mr-4' />
            <p>{{ingredient}}</p>
          </div>
          {{/each}}
        </div>
      </div>

      <hr class='border-1 w-full border-slate-500 mx-auto my-10' />

      <!-- Directions -->
      <div class='flex flex-wrap'>
        <h2 class='font-bold text-xl w-full text-blue-700'>Directions</h2>

        <div id='directions-list'>

          {{#each directions as |direction|}}
          <div class='mt-7'>
            <div class='flex mb-2 items-center'>
              <input type='checkbox' class='h-8 w-8 mr-4' />
              <p>
                <b>Step {{math @index '+' 1}}:</b>
              </p>
            </div>
            <p>{{direction}}</p>
          </div>
          {{/each}}

        </div>
      </div>

    </div>

  </section>

  <section id="comments" class="pt-8">
    <div>
      <h2 class='font-bold text-xl w-full mb-4'>Comments:</h2>
      {{#if loggedIn}}
      <form id="{{recipe.id}}" class="comment-form">
        <div>
          <textarea name="comment-body" class="border-2 border-blue-300 p-1 my-2"></textarea>
        </div>

        <div>
          <button id="add-comment-btn" class="font-bold text-blue-700" type="button">add comment</button>
        </div>
      </form>
      {{/if}}
      {{#if recipe.comments.length}}
      {{>comments recipe.comments}}
      {{/if}}
    </div>
  </section>
</section>



{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}